.swiper {
	width: 68vw;
	height: 100%;
}
.mySwiper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.swiper-pagination {
	--swiper-pagination-color: #1a907f; /* Defina a cor desejada aqui */
}

.swiper-button-next,
.swiper-button-prev {
	--swiper-navigation-color: #1a907f; /* Defina a cor desejada aqui */
}
